body{
	background: transparent url(../images/bg-2.jpg) repeat-y top center;
}
.navbar-default .inner {
    background: transparent url(../images/menu-bg.png) 
}
.bg-1 {
    background: transparent url(../images/bg-1.jpg) repeat-y top center;
}
.bg-2 {
    background: transparent url(../images/bg-2.jpg) repeat-y top center;
}
.navbar-default .inner .btm{
	background: transparent url(../images/menu-bg.png) repeat-x center -264px;
}
.navbar-default .inner:before{
	background: transparent url(../images/menu-bg-top.png) repeat-x center top;
}
.hdr1{
	background:transparent url("../images/hdr-1.png") no-repeat top center;
}
.hdr4{
	background:transparent url("../images/hdr-4.png") no-repeat top center;
}
.hdr6{
	background:transparent url("../images/hdr-6.png") no-repeat top center;
}
.soc_list > li > a{
	background:transparent url("../images/soc-small.png") no-repeat;
}
.priceHeader .price{
	background: transparent url("../images/priceheader-price.png") no-repeat center top;
}
.priceHeader{
	background:transparent url("../images/priceheader-bg.png") repeat-x center top;
}
.priceHeader:before{
	background:transparent url("../images/priceheader-lft.png") no-repeat top center;
}
.priceHeader:after{
	background:transparent url("../images/priceheader-rt.png") no-repeat top center;
}
.prodBox .price{
	background: #1c1a1b;
    border: 1px solid #373431;
}
.btn-default {
    background: #1d1b1c;
}
.menuBox .top{
	background: transparent url("../images/menubox-top.png") no-repeat top center;
}
.bg-2.topOrnament:before{
	background: transparent url(../images/bg-2-top.png) no-repeat top center;
}

.eventBox .date{
	background: #1d1b1c;
}
.eventBox{
	border:1px solid rgba(45, 42, 41, 0.5);
}
.eventBox hr{
background: rgba(45, 41, 41, 0.5);
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color: #000;
}
.menuBox .inner .price{
	color:#1b191a;
}
footer{
	background: transparent url("../images/footer-bg-repeat.jpg") repeat top center;
}
footer:before{
	background: transparent url("../images/footer-bg.jpg") repeat-x center top;
}
footer #toTop{
	background: transparent url("../images/totop-btn.png") no-repeat center top;
}
nav li {
    background-color: #424141;
    border-radius: 5px;
}
@media (min-width: 990px){
	.is-sticky .full-sticky-menu .inner{
		height: 120px !important;
	}
	.navbar-default .inner{
		height: 188px;
	}
}