body{
    background: transparent url(../images/bg-2.jpg) repeat-y top center;
}
.navbar-default .inner {
    background: transparent url(../images/menu-bg.png) 
}
.bg-1 {
    background: transparent url(../images/bg-1.jpg) repeat-y top center;
}
.bg-2 {
    background: transparent url(../images/bg-2.jpg) repeat-y top center;
}
.navbar-default .inner .btm{
    background: transparent url(../images/menu-bg.png) repeat-x center -264px;
}
.navbar-default .inner:before{
    background: transparent url(../images/menu-bg-top.png) repeat-x center top;
}
.hdr1{
    background:transparent url("../images/hdr-1.png") no-repeat top center;
}
.hdr4{
    background:transparent url("../images/hdr-4.png") no-repeat top center;
}
.hdr6{
    background:transparent url("../images/hdr-6.png") no-repeat top center;
}
.soc_list > li > a {
    color: #fff;
    display: block;
    width: 31px;
    height: 31px;
    background: transparent url(../images/soc-small.png) no-repeat;
    background-position: center -33px;
    background-size: 100%;
    font-size: 16px;
    line-height: 16px;
    padding-top: 6px;
    -webkit-transition: background-position 0.2s ease;
    -o-transition: background-position 0.2s ease;
    transition: background-position 0.2s ease;
}
.priceHeader .price{
    background: transparent url("../images/priceheader-price.png") no-repeat center top;
}
.priceHeader{
    background:transparent url("../images/priceheader-bg.png") repeat-x center top;
}
.priceHeader:before{
    background:transparent url("../images/priceheader-lft.png") no-repeat top center;
}
.priceHeader:after{
    background:transparent url("../images/priceheader-rt.png") no-repeat top center;
}
.prodBox .price{
    background: #1c1a1b;
    border: 1px solid #373431;
}
.btn-default {
    background: #1d1b1c;
}
.menuBox .top{
    background: transparent url("../images/menubox-top.png") no-repeat top center;
}
.bg-2.topOrnament:before{
    background: transparent url(../images/bg-2-top.png) no-repeat top center;
}

.eventBox .date{
    background: #1d1b1c;
}
.eventBox,.easyBox{
    border:1px solid rgba(45, 42, 41, 0.5);
}
.eventBox hr{
    background: rgba(45, 41, 41, 0.5);
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background-color: #000;
}
.menuBox .inner .price{
    color:#1b191a;
}
.galleryBox .top{
    background: transparent url(../images/gallerybox-top.png) no-repeat top center;
}
footer{
    background: transparent url("../images/footer-bg-repeat.jpg") repeat top center;
}
footer:before{
    background: transparent url("../images/footer-bg.jpg") repeat-x center top;
}
footer #toTop{
    background: transparent url("../images/totop-btn.png") no-repeat center top;
}
nav li {
    background-color: #424141;
    border-radius: 5px;
}
.prodboxZp img {
    width: 100%;
}
.prodBox.prodboxZp {
    width: 100%;
} 
.prodBox.prodboxZp:after {
    background-size: 100% 100%;
    width: 100%;
}
.imagenFooter {
    text-align: center;
    margin: 3em auto;
    display: block;
}
.menuBox .top{
    padding: 20px 0 0 0;
}
footer {
    min-height: auto;
}
footer .copyright{
    position: relative;
    width: 100%;
    text-align: center;
}
.media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.inner.mybgEvents {
    background-size: cover;
}
.hdr3 {
    color:#fd1743;
}
.eventBox .time {
    color: #fd1743;
}
.hdr3 a {
    color: #ffd908;
}
.eventBox .place {
    color: #ffd908;
}
.eventBox, .easyBox{
    background:rgba(0, 0, 0, 0.7);
}
.eventBox .date {
    color: rgb(253, 23, 67);
}
.priceHeader .rt,.priceHeader .lft{
    min-width:0;
}
.priceHeader{
    width: 300px;
    margin: auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.hdr5,form label{
    color: #fff;
}
.hdr5 span{
    border-color:#fff;
}
.form-control{
    background-color:#302f2b;
       color:white;
}
.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000;
   opacity:  1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000;
   opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #000;
}
.form-control::-ms-input-placeholder { /* Microsoft Edge */
   color:    #000;
}
.hdr2.special{
    color: #fd1743;
}
.galleryBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.galleryBox .top {
    position: relative;
    margin-bottom: -38px;
}
.btn-default {
    color: #ffd908;
}

.btn-default:active, .btn-default.active, .btn-default:hover, .btn-default:focus {
    background: #fd1743;
}
@media (min-width: 990px){
    .is-sticky .full-sticky-menu .inner{
        height: 120px !important;
    }
    .navbar-default .inner{
        height: 188px;
    }
}